body{
  background-color: rgb(5, 61, 59);
  color: azure;
}
* {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  h1 {
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
  }
.choice:hover{
  opacity: 0.5;
  cursor: pointer;
  background-color: #081b31;
  border-radius: 2px solid white;
}

  .choice {
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  
  img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-size: cover;
    justify-content: space-evenly;

  }
  
  .choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
  }
  
  .score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
  }
  
  #user-score,
  #comp-score {
    font-size: 4rem;
  }
  
  .msg-container {
    margin-top: 5rem;
  }
  
  #msg {
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
  }
#paper{
    background-image:url(../paper.png);
    background-size: cover;
    justify-content: center;
    display: flex;
}
#rock{
    background-image:url(../rock.png) ;
    background-size: cover;

}
#scissors{
    background-image:url(../scissors.png) ;
    background-size: cover;

}